/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }
html, body { height: 100%; }

body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
img { border: none; }
p
{
	font-size: 12px;
	margin: 0 0 1em 0;
}
h2 { padding: 10px 0 0 20px; }
.clear + h2 { padding: 0 0 0 20px; }
.clear
{
	height: 0 !important;
	line-height: 0 !important;
	clear: both !important;
	font-size: 1px !important;
	margin: 0;
	padding: 0;
	float: none !important;
}
	
/* Futurebox styles */
ul
{
	padding: 20px 0 20px 20px;
	float: left;
}
	ul li
	{
		float: left;
		list-style: none;
		margin: 0 10px 0 0;
		border: 3px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
		ul li:hover { border: 3px solid #1E528C; }
	
		ul li img, ul li label 
		{ 
			display: block; 
			cursor: pointer; 
		}
		
		ul li input { display: none; }
		ul li input:checked + .overlay { display: table; }

.overlay
{
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	display: none; 
	z-index: 999;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
}
	.overlay label
	{
		display: table-cell; 
		vertical-align: middle; 
		text-align: center;
	}
		.overlay img,
		.overlay iframe
		{
			display: inline;
			border: none;
			padding: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #ffffff;
		}
		
.theme01 .overlay
{
	background: none;
}
	.theme01 .overlay label > img,
	.theme01 .overlay iframe,
	.theme01 .content01
	{
		border: 1px solid #ccc;
		-moz-box-shadow: 5px 5px 10px #000, -5px -5px 10px #000;
		-webkit-box-shadow: 5px 5px 10px #000, -5px -5px 10px #000;
		box-shadow: 5px 5px 10px #000, -5px -5px 10px #000;
	}
		
.content01
{
	display: block;
	width: 460px;
	padding: 20px;
	background: #fff;
	color: #000;
	margin: 0 auto;
	text-align: left;
	cursor: auto;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
	.content01 .inner_content
	{
		display: block;
		height: 500px;
		overflow-y: auto;
	}
	.content01 .inner_content span { display: block; margin-bottom: 12px; font-size: 12px; }
	#futurebox07 + .overlay .inner_content { height: 265px; }
	.content01 img:first-child { float: left; display: block; margin: 0 10px 0 0; }
	.content01 img { float: right; margin: 0 10px; padding: 0; }
	
.content02
{
	width: 820px;
	padding: 0;
}

#close { display: none; }
.closebutton
{
	background: #606061;
	color: #FFFFFF;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -12px;
	width: 24px;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closebutton:hover
{
	background: #318DF2;
	text-shadow: 1px 1px 1px #ccc;
}