*{
	margin:0;
	padding:0;
}
.clear{clear:both;}

ul.oe_menu{
	clear:both;
	margin:0 auto;
	position:static;
	background-color:rgba(234,247,188,1);
	/*border: 2px outset #666;*/
	box-shadow: rgba(0,0,0, .5) 0px 0px 3px;
	width:700px;
	height:30px;
}

ul.oe_menu > li{
	width:98px;
	height:30px;
	float:left;
	position:static;
	list-style:none;
}
ul.oe_menu > li > a{
	display:block;
	text-align:center;
	text-decoration:none;
	line-height:30px;
	font-weight:normal;
	font-size:12px;
	width:98px;
	height:30px;
}
ul.oe_menu > li > a:hover{
	color:#022601;
	text-decoration:underline;
}

ul.oe_menu > li > a.current{
	text-decoration:line-through;
}